<footer class="ftco-footer ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-2">
          <h2 class="ftco-heading-2 mb-2"><%= image_tag("logo.svg", class: "white", width: "70px")  %></h2>
          <p>Embark on your real estate journey with confidence and ease. Let's turn your dreams into keys together!</p>
          <ul class="ftco-footer-social list-unstyled mt-2">
            <li class="ftco-animate"><a href="https://www.instagram.com/kellycypretrealestate/"><span class="fa fa-instagram"></span></a></li>
            <li class="ftco-animate"><a href="https://www.facebook.com/KellyCypretRealEstate/"><span class="fa fa-facebook"></span></a></li>
            <li class="ftco-animate"><a href="https://twitter.com/kellyncypret"><span class="fa fa-twitter"></span></a></li>
          </ul>
        </div>
      </div>
        <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Connect With Me</h2>
          <ul class="list-unstyled">
          <li>
            <a href="https://www.nrrtsold.com/team/kelly-cypret"><span class="fa fa-chevron-right mr-2"></span>Realty Team</a>
          </li>
          <li>
            <a href="https://www.instagram.com/kellycypretrealestate/"><span class="fa fa-chevron-right mr-2"></span>Instagram</a>
          </li>
          <li>
            <a href="https://www.facebook.com/KellyCypretRealEstate/"><span class="fa fa-chevron-right mr-2"></span>Facebook</a>
          </li>
          </ul>
        </div>
        </div>

      <div class="col-md" id="contact">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Contact Me</h2>
          <div class="block-23 mb-3">
            <ul>
              <!--<li><span class="icon fa fa-map"></span><span class="text">505 George Hopper Rd suite b, Midlothian, TX 76065</span></li>-->
              <%# https://www.browserling.com/tools/text-to-html-entities %>
              <li><a href="js:;" tel="469-812-8100"><span class="icon fa fa-phone"></span><span class="text">&#x28;&#x34;&#x36;&#x39;&#x29;&#x20;&#x38;&#x31;&#x32;&#x2d;&#x38;&#x31;&#x30;&#x30;</span></a></li>
              <li><a href="js:;" mailto="Kelly@NRRTsold.com"><span class="icon fa fa-envelope pr-4"></span><span class="text">Kelly@NRRTsold.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>