<footer class="ftco-footer ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Kelly Cypret</h2>
              <p>Let me list your home!</p>
              <ul class="ftco-footer-social list-unstyled mt-5">
                <li class="ftco-animate"><a href="https://twitter.com/kellyncypret"><span class="fa fa-twitter"></span></a></li>
                <li class="ftco-animate"><a href="https://www.facebook.com/knobandkeyrealty/"><span class="fa fa-facebook"></span></a></li>
                <li class="ftco-animate"><a href="https://www.instagram.com/knobandkeyrealty/"><span class="fa fa-instagram"></span></a></li>
              </ul>
            </div>
          </div>

          <% #<div class="col-md"> <div class="ftco-footer-widget mb-4 ml-md-4"> <h2 class="ftco-heading-2">Community</h2> <ul class="list-unstyled"> <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Search Properties</a></li> </ul></div></div> %>

          <div class="col-md" id="contact">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Contact</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <!--<li><span class="icon fa fa-map"></span><span class="text">505 George Hopper Rd suite b, Midlothian, TX 76065</span></li>-->
	                <li><a href="js:;" tel="469-323-4732"><span class="icon fa fa-phone"></span><span class="text">&#52;&#54;&#57;-&#51;&#50;&#51;-&#52;&#55;&#51;&#50;</span></a></li>
	                <li><a href="js:;" mailto="kelly@knobandkey.com"><span class="icon fa fa-envelope pr-4"></span><span class="text">kelly@knobandkey.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
      </div>
    </footer>