<section class="hero-wrap" style="background-image: url('images/Kelly-Large.webp');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center">
      <div class="col-lg-7 col-md-6 ftco-animate d-flex align-items-end">
        <div class="text">
          <h1 class="mb-4">Welcome Home!<br/><span style="font-size: 27px; text-transform: uppercase; opacity: 0.7; font-weight: 200;">Texas Family Living in Vibrant DFW!</span></h1>
          <p style="font-size: 18px;">Welcome to your dream home search in the heart of DFW, Texas! Let me guide you through the process with personalized service and local expertise, ensuring you find the perfect place to call home for your family's next chapter.</p>
          <p>
            <a href="https://kelly.nrrtsold.com/search/" class="btn btn-primary py-3 px-4 mr-2 mb-2">Explore Neighborhoods</a>
            <a href="https://www.nrrtsold.com/team/kelly-cypret" class="btn btn-primary py-3 px-4 mb-2">See My Listings</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>