<section class="hero-wrap hero-wrap-2" style="background-image: url('/assets/images/Kelly-Large.webp');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate pb-0 text-center">
        <p class="breadcrumbs">
          <span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span>
          {% if breadcrumbs %}
            {% for crumb in breadcrumbs %}
              <span class="mr-2"><a href="{{ crumb.url }}">{{ crumb.label }} <i class="fa fa-chevron-right"></i></a></span>
            {% endfor %}
          {% endif %}
        </p>
        <h1 class="mb-3 bread">{{ title }}</h1>
      </div>
    </div>
  </div>
</section>

