<section class="ftco-section ftco-no-pb ftco-no-pt bg-primary">
      <div class="container">
        <div class="row d-flex no-gutters">
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services services-bg d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="fi flaticon-business"></span></div>
              <div class="media-body py-md-4">
                <h3>Personalized Guidance</h3>
                <p>Personalized Guidance: From first-time buyers to seasoned investors, Kelly offers expert advice tailored to your needs, ensuring a smooth real estate experience at every budget.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services services-bg services-darken d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="fi flaticon-home"></span></div>
              <div class="media-body py-md-4">
                <h3>Luxury Living</h3>
                <p>Explore exquisite properties with Kelly's luxury real estate expertise, delivering unmatched service and attention to detail.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services services-bg services-lighten d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="fi flaticon-stats"></span></div>
              <div class="media-body py-md-4">
                <h3>Texas Real Estate</h3>
                <p>Whether buying or selling, Kelly's in-depth knowledge of the Texas market ensures success and satisfaction for every client.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-items-stretch ftco-animate">
            <div class="media block-6 services services-bg d-block text-center px-4 py-5">
            	<div class="icon d-flex justify-content-center align-items-center"><span class="fi flaticon-quarantine"></span></div>
              <div class="media-body py-md-4">
                <h3>Ellis County Specialist</h3>
                <p>With a focus on Ellis County, Kelly brings insider knowledge and strategic insights to maximize your real estate goals in the area.</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>


