---
title: Kelly Cypret - Realtor Ⓡ - Knob & Key Realty
---


    
<section class="hero-wrap" style="background-image: url('images/kelly-large.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center">
      <div class="col-lg-7 col-md-6 ftco-animate d-flex align-items-end">
        <div class="text">
          <h1 class="mb-4">Kelly Cypret<br><span style="font-size: 32px;">Knob & Key Realty</span></h1>
          <p style="font-size: 18px;">Let me help you find your dream home!</p>
          <p><a href="#properties" class="btn btn-primary py-3 px-4">View my listings</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= partial "partials/index/for_sale" %>

    

    

    

    

    


    

    
    
  

  

