<section class="ftco-section ftco-no-pb ftco-no-pt mt-5">
			<div class="container">
				<div class="row">
					<div class="col-md-7 order-md-last d-flex align-items-stretch">
						<div class="img w-100 img-2 mr-md-2" style="background-image: url('images/about-ext.webp');"></div>
						<div class="img w-100 img-2 ml-md-2" style="background-image: url('images/about-int.webp');"></div>
					</div>
					<div class="col-md-5 wrap-about py-md-5 ftco-animate">
	          <div class="heading-section pr-md-5">
	            <h2 class="mb-4">Your Ellis County Realtor!</h2>
	            <p>Kelly, a former elementary teacher, channels her passion for education into real estate, guiding clients with care since 2021. With expertise in Ellis County, she helps families find their dream homes with integrity and dedication. As a valued member of Nolen Rodgers Realty, Kelly embodies hard work and exceptional service, ensuring every client feels confident in their real estate journey.</p>
	          </div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-counter img" id="section-counter">
    	<div class="container">
         <div class="row justify-content-center mt-5 pt-4">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Stats</span>
            <h2>Ellis County</h2>
          </div>
        </div>
    		<div class="row pt-md-1">
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-5 mb-4">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="92638">0</strong>
                <span>Homes</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-5 mb-4">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="250">0</strong>
                <span>Sold <br>Per Year</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-5 mb-4">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="59">0</strong>
                <span>Median Days <br>on Market</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-5 mb-4">
              <div class="text d-flex align-items-center">
                <strong class="number" data-number="425000">0</strong>
                <span>Median Sale <br>Price</span>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>